* {
    margin: 0;
    padding: 0;
}

body {
    background: #000500;
}

.galeria {
    width: 100%;
}

.galeria img {
    vertical-align: top;
    width: 250px;
    margin: 20px;
    padding: 5px;
    border: 1px solid #484848;
    opacity: 0.5;
    height: 172px;
}

.galeria img:hover {
    border: 1 px #fff;
    opacity: 1;
}